body, html {
  display: block;
  width: 100%;
  height: 100%;
  background: #000;
}
/*Creating starfield container*/
.starfield{
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
